/* your code here */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10e37f;
}

.product {
  background-color: white;
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  width: 40%;
  height: 80%;
}

.product__photo {
  /* background: red; */
  /* border: 3px solid blue; */
  width: 50%;
  height: 100%;
}

.product__info {
  /* background-color: green; */
  /* border: 3px solid yellow; */
  width: 50%;
  height: 100%;
}

.photo-container {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 85%;
  position: relative;
  top: 30px;
  left: -30px;
  display: flex;
  flex-direction: column;
}

.photo-main {
  width: 90%;
  height: 80%;
  background-color: #b2e838;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.controls i {
  color: #fff;
}

.controls img {
  position: relative;
  object-fit: contain;
  left: -20px;
}

.photo-album {
  width: 80%;
  height: 10%;
}

.photo-album ul {
  list-style: none;
  padding: 2px;
  display: flex;
  gap: 2px;
  justify-content: flex-end;
}

.photo-album li {
  border-radius: 6px;
  border: 1px solid #ddd;
}

.photo-album img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.product__info {
  padding-top: 60px;
  font-family: Inter;
  color: #333;
}

/* Title */
.title h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.title span {
  font-size: 12px;
  color: #999;
  letter-spacing: 1px;
}

/* Price */
.price {
  margin: 15px 0;
  font-size: 22px;
  color: #ff4d4d;
}

.price span {
  font-size: 40px;
  font-weight: 400;
}

/* Variant */
.variant h3 {
  font-size: 10px;
  color: #aaa;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.variant ul {
  list-style: none;
  display: flex;
  gap: 2px;
}

.variant li {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variant li:hover {
  border-color: #8ad400;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.variant img {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
}

.description {
  margin-top: 30px;
}

/* Benefits heading */
.description h3 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #aaa;
  margin-bottom: 12px;
}

/* Benefits list */
.description ul {
  padding-left: 18px;
  margin-bottom: 25px;
}

.description li {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

/* Add to cart button */
.add-to-cart {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}
